<a href="/" id='goback'><<返回</a>
<div class="title_mypost">
	<h1>{{title_post}}的帖子</h1>
</div>
<div class="postTips">
	<table class="table table-hover">
		<tr>
			<td>帖子类型</td>
			<td>标题</td>
			<td>发帖人</td>
			<td>发表时间</td>
			<td>点击量</td>
		</tr>

		{{#each resq}}
		<tr>
			<td><p style="color: #6699FF">{{this.part}}</p></td>
			<td width="500px"><a href="/openPost_my?temp={{this._id}}" class="postTitle" id="{{this._id}}">{{this.title}}</a></td>
			<td>{{this.author}}</td>
			<td>{{this.time}}</td>
			<td>{{this.look_count}}</td>	
		</tr>
		{{/each}}
	</table>
</div>
<nav aria-label="..." id='page'>
  <ul class="pager">
    <li>
    <a href="/changepage?page={{lastpage}}&whattype={{whattype}}" id="{{pageAllNum}}"><span aria-hidden="true">&larr;</span>older</a></li>
    <li>
    <a href="/changepage?page={{nextpage}}&whattype={{whattype}}">Next<span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>